<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pratiksha's Portfolio</title>
    <link rel="icon" type="image/png" href="https://via.placeholder.com/32x32.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/aos.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <script defer src="/_vercel/insights/script.js"></script>
    <script defer src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>


    <noscript>
      <style type="text/css">
        [data-aos] {
          opacity: 1 !important;
          transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>

<body id="top">
  <header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
        <div class="container">
          <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span
              class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span
              class="navbar-toggler-bar bar3"></span></button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#education">Education</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#awards">Publications</a></li>
            <li class="nav-item"><a class="nav-link smooth-scroll" href="#certificate">Certifications</a></li>

          </ul>
        </div>
      </nav>
    </div>
  </header>

  <div class="page-content">
    <div class="profile-page">
      <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
          <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/profileBackground.jpeg')"></div>
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image"><a href="#"><img src="static/images/Pratiksha_profile.jpeg" alt="Image" /></a></div>
              <div class="h2 title">Pratiksha Vijay Shirsath</div>
              <p class="category text-white">Graduate Student</p>
              <a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='pratiksha_shirsath_resume.pdf') }}"
                data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
              <a class="btn btn-primary" target="_blank" href = "mailto: pvshirsath2000@gmail.com"
                data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Send Email</a>
            </div>
          </div>
          <div class="section">
            <div class="container">
              <div class="button-container">
                <a class="cc-google-plus btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/Pratiksha234"
                  rel="tooltip" title="Checkout my Projects on Github!"><i class="fa fa-github"></i></a>
                <a class="cc-instagram btn btn-default btn-round btn-lg btn-icon" target="_blank"
                  href="https://www.linkedin.com/in/pratiksha-shirsath/" rel="tooltip"
                  title="Connect with me on LinkedIn :)"><i class="fa fa-linkedin"></i></a>
                  <a class="cc-salesforce btn btn-default btn-round btn-lg btn-icon" target="_blank"
                  href="https://www.linkedin.com/in/pratiksha-shirsath/" rel="tooltip"
                  title="Connect with me on Salesforce :)"><i class="fab fa-salesforce"></i></a>
               


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="about">
      <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">About</div>
                <p style="text-align:justify;"> Computer Science Graduate Student</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">Basic Information</div>
                <div class="row">
                  <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
                  <div class="col-sm-8">23</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                  <div class="col-sm-8">shirsath@buffalo.edu</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-8">pvshirsath2000@gmail.com</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
                  <div class="col-sm-8">+1 716-295-3470</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
                  <div class="col-sm-8">Buffalo, New York, USA</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
                  <div class="col-sm-8">English, Marathi, Hindi</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="skill">
      <div class="container">
        <div class="h4 text-center mb-4 title">Professional Skills</div>
        <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="card-body">
            <b>Programming Languages:</b> Python, Java, C, C++, JavaScript, Golang<br><br>
            <b>Web Technologies/ Tools:</b> Flask, Google Cloud Platform, Apache Solr, Git<br><br>
            <b>Databases:</b> MySQL, PostgreSQL, MongoDB<br><br>
            <b>Internet Technologies:</b> HTML5, CSS, Bootstrap, JavaScript
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="experience">
      <div class="container cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-experience-header">
                <p>December 2021 - June 2022</p>
                <div class="h5">Persistent Systems Ltd. Pune</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">Academic Salesforce Intern</div>
                  <ul style="text-align:justify;">
                    <li>Assisted in the design, development, and implementation of Salesforce solutions for clients.</li>
                    <li>Worked with Apex, Visualforce, and Lightning frameworks to develop custom solutions.</li>
                    <li>Collaborated with cross-functional teams to understand client requirements and deliver solutions.</li>
                    <li>Assisted in the testing and deployment of Salesforce solutions.</li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-experience-header">
                <p>May 2021 - July 2021</p>
                <div class="h5">Persistent Systems Ltd. Pune</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">Salesforce Trainee</div>
                  <ul style="text-align:justify;">
                    <li>Participated in training and knowledge-sharing sessions to improve my understanding of the Salesforce platform.</li>
                     <li>Worked on Salesforce Administration and configuration tasks, including creating custom objects, fields, and workflows.</li>
                      <li>Attained knowledge in Apex programming, Flow Building, Data Security and VisualForce on the Salesforce Platform</li>
                      <li><a href="https://trailblazer.me/id/pshirsath23" target="_blank" style="color: blue;">Trailhead</a></li>

                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="education">
      <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-education-header">
                <p>Aug 2022 - Present</p>
                <div class="h5">Master's Degree</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">M.S. in Computer Science and Engineering</div>
                <p class="category">STATE UNIVERSITY OF NEW YORK AT BUFFALO, NEW YORK</p>
                <p><strong>Coursework:</strong>
                  <ol>
                    <b>Semester 1 :</b>
                
                    <li>Information Retrieval - CSE 535</li>
                    <li>Distributed Systems - CSE 586</li>
                    <li>Analysis of Algorithms - CSE 531</li>
                    <li>Computer Vision and Image Processing - CSE 573</li>
                  </ol>
                  <ol>
                    <b>Semester 2 : </b>
                    <li>Introduction to Machine Learning- CSE 574</li>
                    <li>Social Network Analytics : MGS 653</li>
                    <li>Data Models and Query Language - CSE 560</li>
                    <li>Seminar : Making technology to change people: Methods in HCI and UX design for human learning, collaboration,</li>
                  </ol>
                </p>
                <p><strong>GPA:</strong> 3.45 / 4.00 <br></p>
                <p><b>Projects:</b>
                  <ol style="text-align:justify;">
                    <li><strong>Multi-Topic IR chatbot</strong> | Python, Flask, Apache Solr, Tensorflow</li>
                      <ul>
                        <li>Developed a multi-topic information retrieval chatbot capable of performing 15+ turns of coherent utterances.</li>
                        <li>Indexed 200k+ multi-lingual Reddit data in Apache Solr and used it as the chatbot dataset.</li>
                        <li>Used a pre-trained BERT model to classify chitchat and Reddit data, calculated the similarities of the top 20 retrieved documents with the user query, and responded with the document having the maximum similarity.</li>
                      </ul>
                    <br>
                    <li><strong>Face Detection and Clustering</strong> | Python, OpenCV</li>
                      <ul>
                        <li>Developed a computer vision project using OpenCV and a face recognition library to detect and cluster faces.</li>
                          <li>Performed face detection using OpenCV's built-in Haar-cascades classifier and cropped the detected faces.</li>
                          <li>Utilized k-means algorithm to cluster faces with the same identity.</li>
                          <li>Improved image organization by grouping similar faces together, achieving the project goal of efficient face recognition and image processing.</li>
                      </ul>
                      <br>
                      <li><strong>Camera Calibration and Rotation Matrix Determination</strong> | Python, OpenCV</li>
                      <ul>
                        <li>Developed a computer vision project to determine the camera calibration matrix and rotation matrix using Python.    </li>
                        <li>Implemented OpenCV library to extract intrinsic and extrinsic parameters of the camera.</li>
                        <li>Utilized a chessboard pattern for image calibration and used singular value decomposition to calculate the rotation matrix.</li>
                        <li>The project improved the accuracy of image recognition and augmented reality applications.</li>
                      </ul>
                      <br>
                      <li><strong></strong></li>
                  </ol>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row">
            <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body cc-education-header">
                <p>June 2018 - May 2022</p>
                <div class="h5">Bachelor's Degree</div>
              </div>
            </div>
            <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
              <div class="card-body">
                <div class="h5">B.E. in Information Technology</div>
                <p class="category">Pimpri Chinchwad College of Engineering, Pune </p>
                <p><strong>Relevant Coursework: </strong>Data Structures and Algorithms, Distributed Systems, Software Design and Modelling, Internet of things, Ubiquitous Computing, Information and Cyber Security. </p>
                <p><b>Projects:</b>
                <ol style="text-align:justify;">
                  <li><strong>Remicare : Medicine Intake Tracker Android App</strong> | Dart, Flask, OpenCV, NLTK, Android</li>
                    <ul>
                      <li>Designed and developed the user interface of the Android app using Dart.</li>
                      <li>Built the back-end of the app using Flask, with the integration of OpenCV for image processing and NLTK for natural language processing.</li>
                      <li>Implemented image recognition and text extraction techniques to automatically extract information from images of medicine</li>
                    </ul>
                </ol>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section" id="awards">
      <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Publications</div>
          <div class="card">
              <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-education-header">
                    <p class="h6"></p>
                    <p>March 2022 </p>
                    <a class="btn btn-neutral" target="_blank" 
                    href="{{url_for('static',filename='remicare_paper.pdf')}}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Certificate</a>
                  </div>
                </div>
                

                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                    <div class="h5"> REMICARE – Medicine Intake Tracker & Healthcare Assistant</div>
                    <p class="category">International conference on Recent Trends in Machine Learning, IOT, Smart Cities & Applications (ICMISC 2022) </p>
                    <ul style="text-align:justify;">
                      <li> Organized by : Department of Computer Science & Engineering, CMR Institute of Technology, Hyderabad, Telangana, India</li>
                      <li>Publication : Springer</li>
                      <li><a href="https://link.springer.com/chapter/10.1007/978-981-19-6088-8_25" target="_blank" style="color: blue;">Link to the Journal</a></li>

                    </ul>
                  </div>
                </div> 
          </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p class="h6"></p>
              <p>October 2021 </p>
              <a class="btn btn-neutral" target="_blank" 
              href="{{url_for('static',filename='6_Pratiksha_Shirsath.pdf')}}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Certificate</a>
            </div>
          </div>
        
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> Management of Electronic Health Care Records using Blockchain with a Brief study of Decentralization, Scalability, Cryptography and Smart Contracts</div>
                    <p class="category">International Journal of Innovative Research in Computer and Communication Engineering</p>
                    <ul style="text-align:justify;">
                      <li>Publication : IJIRCCE</li>
                      <li><a href="https://www.ijircce.com/get-current-issue.php?key=MTI1" target="_blank" style="color: blue;">Link to the Journal</a></li>

                    </ul>
                  </div>
          </div> 
       </div>
      </div>
    </div>
    </div>

    <div class="section" id="certificate">
      <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Certifications</div>
          <div class="card">
              <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body cc-education-header">
                    <p class="h6"></p>
                    <p>March 2022 </p>
                    <a class="btn btn-neutral" target="_blank" 
                    href="{{url_for('static',filename='remicare_paper.pdf')}}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Certificate</a>
                  </div>
                </div>
                

                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                  <div class="card-body">
                    <div class="h5"> REMICARE – Medicine Intake Tracker & Healthcare Assistant</div>
                    <p class="category">International conference on Recent Trends in Machine Learning, IOT, Smart Cities & Applications (ICMISC 2022) </p>
                    <ul style="text-align:justify;">
                      <li> Organized by : Department of Computer Science & Engineering, CMR Institute of Technology, Hyderabad, Telangana, India</li>
                      <li>Publication : Springer</li>
                      <li><a href="https://link.springer.com/chapter/10.1007/978-981-19-6088-8_25" target="_blank" style="color: blue;">Link to the Journal</a></li>

                    </ul>
                  </div>
                </div> 
          </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p class="h6"></p>
              <p>October 2021 </p>
              <a class="btn btn-neutral" target="_blank" 
              href="{{url_for('static',filename='6_Pratiksha_Shirsath.pdf')}}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">View Certificate</a>
            </div>
          </div>
        
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> Management of Electronic Health Care Records using Blockchain with a Brief study of Decentralization, Scalability, Cryptography and Smart Contracts</div>
                    <p class="category">International Journal of Innovative Research in Computer and Communication Engineering</p>
                    <ul style="text-align:justify;">
                      <li>Publication : IJIRCCE</li>
                      <li><a href="https://www.ijircce.com/get-current-issue.php?key=MTI1" target="_blank" style="color: blue;">Link to the Journal</a></li>

                    </ul>
                  </div>
          </div> 
       </div>
      </div>
      <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="pratiksha-shirsath" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/pratiksha-shirsath?trk=profile-badge"></a></div>
      <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="pshirsath23" data-version="v1">
        <a class="badge-base__link LI-simple-link" href="https://trailblazer.me/id/pshirsath23" target="_blank">Your Name</a>
      </div>
      
      
    </div>
    </div>
    <footer class="footer">
      <div class="container text-center">
              
        <a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/Pratiksha234"><i
            class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a class="cc-instagram btn btn-link" target="_blank"
          href="https://www.linkedin.com/in/pratiksha-shirsath/"><i class="fa fa-linkedin fa-2x "
            aria-hidden="true"></i></a>
        <a class="cc-twitter btn btn-link " target="_blank" href="https://twitter.com/"><i
            class="fa fa-twitter fa-2x " aria-hidden="true"></i></a>
        <a class="cc-hackerrank btn btn-default btn-round btn-lg btn-icon" target="_blank"
            href="https://www.hackerrank.com/" rel="tooltip"
            title="Visit my HackerRank profile"><i class="fa fa-code"></i></a>
         
      </div>
      <div class="h4 title text-center">Pratiksha Vijay Shirsath</div>
    </footer>

    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script defer src="/_vercel/insights/script.js"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>

</body>
</html>
